/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "default";
            bindings = <
                &kp N1 &kp N2
                &kp N3 &kp N4
            >;
        };
    };
};
